@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
<address class="">
    709 west forly street<br />
    macon, MO 63552<br />
    Phone
    987-567-0386
</address>

<address>
    <strong>Admin Support:</strong> Admins@gmail.com<br />
    <p>
        If Your Having troubles loging in or registering please contact your local admin.
    </p>
</address>
</div>