@using Gamestore_MVC.Models
@model Game

@{
    ViewBag.Title = "VideoGame World";
}


<div class="jumbotron"align="center">
    <h1 >Current Best Selling Game</h1>
    <h3 align="center">@Model.Title</h3>
    <h3 align="center">
        @Model.Description

    </h3>
    
</div>

